set mod-path "modules/"
set help-path "help/"
set userfile "LamestBot.user"
set chanfile "LamestBot.chan"
set notefile "LamestBot.notes"
{% for mod in modules %}
loadmodule {{ mod }}
{% endfor %}
set nick "Lamestbot"
set altnick "Llamab?t"
set realname "/msg LamestBot hello"
set username "lamest"
set admin "test <test@test>"
set network "TestNet"
set net-type "EFnet"
set default-port 6667
set prefer-ipv6 0
set quiet-save 3
set ssl-capath "/etc/ssl/"
set pidfile "LamestBot.pid"
{% for key, value in settings %}
set {{ key }} "{{ value }}"
{% endfor %}
logfile mco * "logs/eggdrop.log"
server add fake.test-rs 6667
unbind msg - ident *msg:ident
unbind msg - addhost *msg:addhost
bind evnt - init-server evnt:init_server
proc evnt:init_server {type} {
  global botnick
  putquick "MODE $botnick +i-ws"
}
source scripts/alltools.tcl
source scripts/action.fix.tcl
source scripts/dccwhois.tcl
{% for chan in channels %}
channel add "{{ chan }}"
{% endfor %}
{% for line in tcl_extra %}
{{ line }}
{% endfor %}
{% if tcl_eval_port %}
proc _test_eval_accept {idx} {
  control $idx _test_eval_input
}
proc _test_eval_input {idx text} {
  if {$text eq ""} { return 1 }
  set code [catch {uplevel #0 $text} result]
  putdcc $idx "$code $result"
  return 0
}
listen {{ tcl_eval_port }} script _test_eval_accept
{% endif %}
